!!! 5
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/lib/normalize.css')
    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/main.css')
    script(src='/lib/jquery.min.js')
    script(src='/something.js')
  body
    #container!= body
